        body {
            font-family: "Poppins";
            background-color: #e0f7fa;
            font-weight: 100;
            margin: 0;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .container {
            background-color: white;
            border-radius: 10px;
            box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
            padding: 20px;
            width: 90%;
            max-width: 500px;
            text-align: center;
        }
        h1 {
            color: #00796b;
            font-family: "poppins";
            font-size: 2.5rem;
            font-weight: 500;
            margin-bottom: 30px;
        }
        h2 {
            color: #004d40;
            font-family: "poppins";
            font-size: 2rem;
            font-weight: 300;
            margin-bottom: 20px;
        }

        p {
            color: #fc0303;
            font-family: "poppins";
            font-size: 1.5rem;
            font-weight: 300;
            margin-bottom: 20px;
        }

        .classic-button {
            background-color: #00796b;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            font-family: "poppins";
            font-size: 1.5rem;
            font-weight: 300;
        }
        .section {
            margin-bottom: 20px;
            font-family: "poppins";
            font-weight: 100;
        }
        .team-colors, .timer, .team-selection {
            
            display: flex;
            justify-content: space-around;
            margin-bottom: 20px;
        }
        .team, .timer-option, .team-option {
            font-family: "poppins";
            font-size: 1.5rem;
            font-weight: 300;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            background-color: #b2dfdb;
            color: #004d40;
            border: none;
            font-size: 16px;
        }
        .timer-option.active, .team-option.active {
            background-color: #00796b;
            color: white;
        }
        .timer-icon, .basketball-icon {
            font-size: 50px;
            margin: 10px 0;
        }
        .options {
            margin-top: 20px;
        }
        .options button {
            font-family: "poppins";
            
            background-color: #00796b;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;


        
        }
        .scoreboard {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #00796b;
            color: white;
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 20px;
        }

        .team-score {
            display: flex;
            align-items: center;
            font-family: "poppins";
            font-size: 30px;
            font-weight: 300;
        }

        .team-color {
            width: 30px;
            height: 30px;
            margin-right: 10px;
        }

        .jersey {
            background-color: var(--team-color);
            padding: 20px;
            border-radius: 10px;
            margin-bottom: 20px;
            position: relative;
        }

        .jersey-button {
            font-family: "poppins";
            font-size: 20px;
            background-color: #00796b;
            color: white;
            padding: 10px;
            border-radius: 5px;
            margin: 5px 0;
            cursor: pointer;
        }

        .timer {
            font-size: 40px;
            margin-top: 20px;
            font-family: "poppins";
            font-weight: 300;
            color: #00796b;
        }

